<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

    <title>Sign in - DarkChat</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/signup.css}">

</head>
<body>
<div class="header">
    <div class="header-logo">DarkChat</div>
    <a href="/login" class="header-login">Login</a>
</div>

<div class="main-wrapper">
    <div class="welcome-wr">
        <div class="sign-up-form-wr">
            <div class="sign-up-form">
                <form id="js-form">
                    <h1>Sign Up</h1>
                    <input pattern="^[A-Za-z][A-Za-z0-9_\-.]{2,31}$" required type="text" id="js-username"
                           placeholder="Username">
                    <input pattern="^.{6,64}$" required type="password" id="js-password" placeholder="Password">
                    <input pattern="^.{6,64}$" required type="password" id="js-confirm-password"
                           placeholder="Confirm password">
                    <div class="input-gender">
                        <label>
                            <input type="radio" name="gender" id="js-gender-male" checked><span
                                class="input-gender-male">Male</span>
                        </label>
                        <label>
                            <input type="radio" name="gender" id="js-gender-female"><span
                                class="input-gender-female">Female</span>
                        </label>
                    </div>

                    <div class="input-photo">
                        <input type="url" id="js-url-photo" placeholder="Photo (url)">
                        <label for="input-photo-file"><input id="input-photo-file" type="file"></label>
                    </div>

                    <button id="js-signup-btn">Sign up</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<div class="dark-background" id="js-dark-background"></div>

<div class="alert-container" id="js-alert-container">
    <div class="alert-invalid-username" id="js-alert-invalid-username">A user with that username already exists</div>
    <div class="alert-invalid-confirm-password" id="js-invalid-confirm-password">Password does not match the confirm password</div>
</div>

<script th:src="@{js/signup.js}"></script>
</body>
</html>